@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

:root{
    font-size: 12px;
}

body{
    font-family: 'Unica One';
    background-color: #0B001E;
}

.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

@media screen and (min-width: 480px){
    :root{
        font-size: 16px;
    }
}